
$classic-base-gray: #282c37; 

$classic-base-red: #300;  // red
$classic-base-green: #030;  // green
$classic-base-yellow: #330;  // yellow
$classic-base-blue: #003;  // blue
$classic-base-magenta: #303;  // magenta
$classic-base-cyan: #023;  // cyan

$ui-base-color: $classic-base-magenta !default;
$ui-base-lighter-color: lighten($classic-base-gray, 26%) !default;

@import 'application';
